# Created by https://www.gitignore.io/api/netbeans,codeigniter

### CodeIgniter ###
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

### CodeIgniter Patch ###
#codeigniter 3

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/nbproject

# End of https://www.gitignore.io/api/netbeans,codeigniter